<footer id="fh5co-footer">
	<p><small>&copy; 2016. Magazine Free HTML5. All Rights Reserverd. <br> More Templates <a href="http://www.yizezhi.com/" target="_blank" title="男人本色">男人本色</a> - Collect from <a href="http://www.yizezhi.com/" title="男人本色" target="_blank">男人本色</a></small></p>
</footer>
<!-- jQuery -->
<script src="/js/jquery.min.js"></script>
<!-- jQuery Easing -->
<script src="/js/jquery.easing.1.3.js"></script>
<!-- Bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Waypoints -->
<script src="/js/jquery.waypoints.min.js"></script>
<!-- Main JS -->
<script src="/js/main.js"></script>